.lagos { 
    border: 2px solid royalblue;
    box-shadow:  25px 30px 10px 5px rgba(218, 218, 218, 0.81);
 }
 .kivis {
     border: 4px solid palevioletred;
 }
 #arbol {
     border-radius: 25px 0;
     border: 5px outset rgb(255, 187, 187);
 }

 h2 {
    display: inline;
    background-color: red;
 }

  span {
    background-color: lightsteelblue;
 }

 button {
    background-color: orange;
    border: 1px solid greenyellow;
    padding: 20px 30px 10px 50px;
    border-radius: 20px 50px 20px 50px;
 }

 button:hover{
    background-color: red;
 }

 img {
    margin: 30px;
 }

 body {
    width: 50%;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    background-color: rgb(233, 223, 192);
 }

 .container {
   width: 200px;
   height: 100px;
   background-color: rgb(214, 188, 238);
   padding: 20px;
   border-radius: 5px;
   border: 5px solid white;
   font-size: 30px;
   overflow: auto;
   
 }
.cajapadre {
   width: 300px;
   height: 300px;
   background-color: rgb(81, 177, 81);
   border: 5px solid rgb(117, 49, 18);
   position: relative;
}

.cajahijo {
   width: 80px;
   height: 80px;
   background-color: white;
   font-weight: bold;
   position: absolute;
   inset: 0; /* esto hace conjunto de top, bottom, left, right*/
   margin: auto;
}

.insta {
   width: 60px;
   background-color: white;
   border-radius: 50px;
   position: fixed;
   bottom: 0;
   right: 0;
}

.whats {
   width: 60px;
   position: fixed;
   bottom: 70px;
   right: 0;
}